@model IEnumerable<InventorySystem.Models.Kurum>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>
</table>